ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.completed-task {
    opacity: 0.9;
    text-decoration: line-through;
    color: #222abf;
}

.task-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: fit-content;
    background-color: #F9ED69;
    border-color: transparent;
    border-radius: 0.7rem;
    overflow-y: auto;
}