ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.auth-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-height: 30em;
    max-width: 20em;
    background-color: white;
    border-color: transparent;
    border-radius: 0.7rem;
    overflow-y: auto;
}